In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/Kickstarter_raw_data.csv")

C:\Users\valtt\AppData\Local\Temp\ipykernel_22288\853202413.py:1: DtypeWarning: Columns (28,30,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Kickstarter_raw_data.csv")

In [ ]:
# Rate-sarakkeiden null-arvot

rate_cols = [col for col in df.columns if "rate" in col]

result_df = (
    pd.concat(
        {
            col: df.loc[df[col].isna(), "currency"].value_counts()
            for col in rate_cols
        },
        axis=1
    )
    .fillna(0)
    .astype(int)
)

result_df

          fx_rate  static_usd_rate  usd_exchange_rate
currency
USD         46084            34476              45333
GBP          4662             3009               6596
CAD          1701             1060               3062
EUR          1000              160               5556
AUD           901              548               1519
NZD           149               88                270
SEK            87               23                356
DKK            59                8                215
NOK            44               11                121
CHF            33                0                216
MXN            31                0                713
HKD            16                0                479
SGD            12                0                309
JPY             0                0                196
PLN             0                0                 34

In [ ]:
# Rivit, joista uupuu kaikki rate-tiedot

df.loc[
    df["static_usd_rate"].isna() &
    df["usd_exchange_rate"].isna() &
    df["fx_rate"].isna(),
    "currency"
].value_counts()

## Valuuttakurssit

* ```static_usd_rate```sisältää vähiten null-arvoja --> paras valinta(?)
* Yhdestäkään rivistä ei puutu *kaikkia* rate-sarakearvoja (static, fx, exchange)